<h1>Dear <%=@member.name%>,</h1>

<p>Forgot your password?</p>
  
<p>We received a request to reset the password for your account.</p>
<p>If you made this request, click the button below. If you didn't make this request, you can ignore this email.</p>
 
<p>  
<%=link_to "Click here", reset_password_url(uid: @member.id, reset_type: 'email', token: @cred.uid)%>
to reset your password.
</p>
  
<p>Thank you</p>
