<div class="gpr-container">
  <div class="forgot-password-form">
    
    <p>Enter your email and we will send you instructions on resetting your password.</p>
  
    <%= form_tag forgot_password_path do -%>
          
      <div class="control-group">
        <div class="input-group input-group-grey">
          <%= email_field_tag 'email', ((@params) ? @params[:email] : "" ), class: 'form-control', required: 'required', :placeholder => "Email" %>
          <span class="input-group-addon">
            <%= image_tag("dark-email.png", :alt => 'lock') %>
          </span>
        </div>
      </div>
      <div>
        <%= submit_tag 'Send', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>